/* Set the font and margin/padding for the entire body */
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Set the font weight and margin for all heading tags */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 0;
  }
  
  /* Set the styles for the header section */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  /* Style for the title for our webpage */

.title-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .title-description {
    color: #ff5722;
    font-style: italic;
    font-weight: 600;
  }
  
  /* Set the font size for the main heading */
  header h1 {
    font-size: 2rem;
  }
  
  /* Set the styles for the search form */
  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }