/* Set the font and margin/padding for the entire body */
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

/* Set the font weight and margin for all heading tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
}

/* Set the margin bottom and text align-center Live Flight Data Heading */
h2 {
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 1rem;
}

/* Set the styles for the header section */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* #time-container {

} */

#weather-container {
  margin-top: 10px;
}

/* Style for the title for our webpage */

.title-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title-description {
  color: #ff5722;
  font-style: italic;
  font-weight: 600;
}

/* Set the font size for the main heading */
header h1 {
  font-size: 2rem;
}

/* Set the styles for the search form */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* Set the styles for the search input field */
#search-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 400px;
  border: none;
  border-bottom: 2px solid #ff5722;
  transition: border-bottom-color 0.2s ease-in-out;
}

/* Set the styles for the search input field when it is focused */
#search-input:focus {
  outline: none;
  border-bottom-color: #333;
}

/* Set the styles for the search button */
#search-button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 15px;
}

/* Set the styles for the search button when it is hovered */
#search-button:hover {
  background-color: #333;
}

/* Set the flex and alignment styles for the main section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Set the styles for the map container */
#map-container {
  width: 60%;
  height: 400px;
  margin: 1rem 0;
}

/* Set the styles for the results container */
#results-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 4rem;
  max-height: 400px; /* Set the maximum height of the container */
  overflow-y: auto; /* Add vertical scroll if the content exceeds the container height */
}

/* Set the styles for the individual result containers */
.result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Set the styles for the heading of each result container */
.result h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

/* Set the styles for the text content of each result container */
.result p {
  margin: 0.5rem 0;
}

/* Set the styles for the links in each result container */
.result a {
  color: #ff5722;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* Set the styles for the links in each result container when they are hovered */
.result a:hover {
  color: #333;
}

/* Set the styles for the images in each result container */
.result img {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

/* Set the styles for the rating section in each result container */
.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.rating span {
  font-weight: bold;
  color: #ff5722;
}

.rating img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  content: url(star1.png);
}

.rating img[src="star1.png"] {
  content: url(star1.png);
}

/* Set the styles for the review form */
.review-form {
  margin-top: 1rem;
}

.review-form h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.form-group {
  margin: 1rem 0;
}

/* Set the styles for all other labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Set the color for email and password for login form */
label[for="email-inputlogin"],
label[for="password-input"] {
  color: #fff;
}

/* label with the for attribute value of "email-input" and set its text color to the specified RGB value.*/
label[for="email-input"] {
  color: rgb(51, 51, 51);
}

input[type="text"],
select,
textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ff5722;
  transition: border-bottom-color 0.2s;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #333;
}

/* Set the styles for the submit button in the review form */
button[type="submit"] {
  background-color: #ff5722;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #333;
}

/* Set the styles for the list of reviews */
.review-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.review-list li {
  margin-bottom: 1rem;
}

/* Set the styles for the header of each review */
.review-header {
  display: flex;
  align-items: center;
}

.review-header h4 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.review-header img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.review-header span {
  font-weight: bold;
  color: #ff5722;
}


.review-list .review-header img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  content: url(star1.png);
}

.review-list .review-header img[src="no-star.png"] {
  content: url(no-star.png);
}

/* Set the styles for the body of each review */
.review-body {
  margin-top: 0.5rem;
}

.review-body p {
  margin: 0;
  color: #333;
}

/* Set the styles for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0s;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
}

.modal-header h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

/* Sets the font size, margin, and color for the paragraphs in the modal body */
.modal-body p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #333;
}

/* Sets the display and justification for the modal footer */
.modal-footer {
  display: flex;
  justify-content: center;
}

/* Sets the background color, font color, border, font size, padding, cursor, and transition for the button in the modal footer */
.modal-footer button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Sets the background color when the button in the modal footer is hovered over */
.modal-footer button:hover {
  background-color: #333;
}

/* Sets the background and style for footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #333;
  color: #fff;
  font-weight: 400;
}

footer p {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.social-media a:hover {
  color: #f00;
}

#confirmation-msg {
  display: none;
  position: absolute;
  bottom: -2218px;
  right: 50%;
  transform: translateX(50%);
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  z-index: 1;
}

/* Style for personalized services */

#services-container {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
}

#services-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#services-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#services-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

#services-container li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#learn-more-btn {
  background-color: #ff5722;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#learn-more-btn:hover {
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

#review-form-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Style for the search box to fade in and out every five second. You can adjust the animation */
#map-search-box {
  animation: blink 5s linear infinite;
}

/*@keyframes blink {
  50% {
    opacity: 0;
  }
}*/

/* Style for Latest News */
#news-section {
  margin-top: 2rem;
  text-align: center;
}

#news-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem;
  height: 400px;
  overflow-y: scroll;
}

.article {
  margin: 1rem;
  max-width: 30%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.article img {
  width: 100%;
  margin-bottom: 1rem;
}

.article h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*#directions-button {
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/

/* Style for Live Flight Data */
#mapid {
  width: 100%;
  height: 400px;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

th,
td {
  text-align: center;
  padding: 12px;
  font-weight: bold;
}

thead {
  background-color: #22edff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#flight-data {
  max-height: 400px;
  overflow-y: scroll;
}

#flight-data table {
  position: relative;
  width: 100%;
}

#flight-data thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

/* Style for Google Translate */

#translate-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#translation {
  margin-top: 1em;
  font-weight: bold;
}

/* Style for Weather search by zip code section */

input#zip {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ff5722;
  transition: border-bottom-color 0.2s;
  margin-bottom: 1rem;
}

#weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-form > input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ff5722;
  transition: border-bottom-color 0.2s;
  margin-bottom: 1rem;
}

#weather-form > button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 20px;
}

#weather-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}
